html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 100%; }
#search-wrapper {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	z-index: 1;
	pointer-events: none;
}
#search-panel {
	padding: 10px 20px;
	pointer-events: auto;
}
#submit-wrapper {
	padding-top: 0;
}
#search-submit {
	margin-bottom: 10px;
}
#option-accordion {
	pointer-events: auto;
}
#option-body {
	padding: 15px 15px;
}
#map-spinner-wrapper {
	height: 100%;
	background-color: #eee;
}
#map-spinner-wrapper .valign {
	margin: auto;
}
.popup-image {
	float: left;
	margin: 5px 10px 5px 5px;
}
.info-window-contents h6 {
	display: inline-block;
	min-width: 7rem;
}
.popup-rating {
	font-size: smaller;
}
.popup-rating .material-icons {
	font-size: 1rem;

}
.rating-stars {

}