html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 100%; }
#search-wrapper {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	z-index: 1;
	pointer-events: none;
}
#search-panel {
	padding: 10px 10px;
	pointer-events: auto;
	display: flex;
	align-items: center;
}
#search-panel .select-dropdown {
	margin-bottom: 5px;
}
#search-random {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	width: 7rem;
	height: 7rem;
	margin-left: -3.5rem;
	line-height: 7rem;
	border-radius: 5rem;
}
#search-submit {
	margin-bottom: 10px;
}
#option-wrapper {
    display: flex;
    justify-content: center;
}
#option-accordion {
	pointer-events: auto;
}
#option-body {
	padding: 15px 15px;
}
#option-trigger {
	padding: 0 0;
}
#search-gurnavi, #search-random {
	padding: 0 1rem;
}
#map-spinner-wrapper {
	height: 100%;
	background-color: #eee;
}
#map-spinner-wrapper .valign {
	margin: auto;
}
.range-field .thumb.active {
	z-index: 1;
}
.popup-image {
	float: left;
	margin: 5px 10px 5px 5px;
}
.info-window-contents h6 {
	display: inline-block;
	min-width: 7rem;
}
.popup-rating {
	font-size: smaller;
}
.popup-rating .material-icons {
	font-size: 1rem;

}
.rating-stars {

}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}